button.classy,
a.button-classy {
  padding: 9px 15px 9px;
  color: #333;
  display: inline-block;
  margin-right: 20px;
  font: 700 13px/1 "Helvetica Neue", "Arial", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #e6e6e6;
  border-bottom-color: #dbdbdb;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #e6e6e6 -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #e6e6e6));
  background: #e6e6e6 -webkit-linear-gradient(top, #fff 0%, #e6e6e6 100%);
  background: #e6e6e6 -moz-linear-gradient(top, #fff 0%, #e6e6e6 100%);
  background: #e6e6e6 -o-linear-gradient(top, #fff 0%, #e6e6e6 100%);
  background: #e6e6e6 -ms-linear-gradient(top, #fff 0%, #e6e6e6 100%);
  background: #e6e6e6 linear-gradient(top, #fff 0%, #e6e6e6 100%);
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  position: relative;
}
button.classy:active,
a.button-classy:active {
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -o-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}
button.classy:disabled,
a.button-classy:disabled,
button.classy.disabled,
a.button-classy.disabled {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
button.classy:hover,
a.button-classy:hover {
  color: #fff;
  border-color: #2174c8 #2174c8 #1e6ab6 #2174c8;
  text-shadow: 0 1px 0 #2174c8;
  background: #2174c8 -webkit-gradient(linear, left top, left bottom, color-stop(0, #3d8edf), color-stop(1, #2174c8));
  background: #2174c8 -webkit-linear-gradient(top, #3d8edf 0%, #2174c8 100%);
  background: #2174c8 -moz-linear-gradient(top, #3d8edf 0%, #2174c8 100%);
  background: #2174c8 -o-linear-gradient(top, #3d8edf 0%, #2174c8 100%);
  background: #2174c8 -ms-linear-gradient(top, #3d8edf 0%, #2174c8 100%);
  background: #2174c8 linear-gradient(top, #3d8edf 0%, #2174c8 100%);
}

button.classy .iconfont {
    font-size: 24px;
    color: #333;
}
button.classy:hover .iconfont {
    color: white;
}
