html, body {
  margin: 0;
  padding: 0;
  color: #3e4349;
}
.container {
  max-width: 640px;
  margin: 0 auto;
  zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}

.navigation {
  font: 500 14px/1.6 "Ubuntu", 'Helvetica Neue', 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'arial', sans-serif;
  background-color: #333;
  box-shadow: 0 0 10px #000 inset;
  padding: 8px 10px;
  opacity: 0.9;
}

.navigation a {
  color: #eee;
  text-decoration: none;
  word-wrap: break-word;
}
.navigation a:hover {
  color: #ffc38c;
}
.navigation .home {
  float: left;
}
.navigation .menu {
  float: right;
}
.navigation .menu a {
  margin-left: 14px;
}

.mainbody {
  padding: 30px 10px;
}
.mainbody input {
  max-width: 90%;
}

.search-form {
  margin: 40px 0;
  text-align: center;
}
.search-form input.text {
  -webkit-appearance: textfield;
  font-size: 24px;
  padding-left: 1px;
  padding-right: 0;
}
.search-form button.search {
  vertical-align: middle;
  font-size: 24px;
}
.comments {
  margin-top: 30px;
  padding-top: 30px;
}
.footer {
  font: 400 14px/1.6 "Ubuntu", 'Helvetica Neue', 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'arial', sans-serif;
  border-top: 1px solid #ddd;
}
.footer .software {
  text-align: right;
  color: #696969;
}
.footer .software a {
  color: #565656;
}

.tags a {
  display: inline-block;
  color: white;
  padding: 1px 6px;
  background-color: #d64;
  border-radius: 3px;
  margin: 10px 6px 10px 0;
}
.tags a:hover {
  text-decoration: none;
  color: white;
  opacity: 0.6;
}

.cell {
  position: relative;
  padding: 7px;
  border: 1px solid #dadada;
  border-radius: 4px;
  background-color: #f9f9f7;
}
.cell {
  margin: 14px 0;
}
.cell h3 {
  margin: 0 0 6px;
}
.cell p {
  margin: 0;
}
.cell .version, .cell .doc {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 4px;
  color: #d64;
}
.cell .doc {
  right: 48px;
  color: #1A9B20;
}
.cell .doc:hover {
  text-decoration: none;
  color: #1A9B20;
}

.profile .avatar {
  float: left;
  margin-right: 14px;
}
table.meta {
  width: 100%;
}
table.meta a {
  word-wrap: break-word;
  word-break: break-all;
}
table.meta td {
  position: relative;
}
.meta .doc {
  position: absolute;
  right: 10px;
  color: #1A9B20;
}

.documentation-center {
  text-align: center;
  margin: 60px 0;
}
.documentation-center a.big-button {
  display: inline-block;
  padding: 16px 29px;
  text-decoration: none;
  color: white;
  background: #222223;
}
.documentation-center .big-button:hover {
  opacity: 0.8;
}

.families {
  text-align: center;
}
.families a {
  display: inline-block;
  margin: 6px 2px;
  background: #666;
  color: white;
  padding: 6px 16px;
}
