{% extends "layout.html" %}
{% from "macro/form.html" import render_field, render_errors %}

{% block subtitle %}{{_('Organizations')}}{% endblock %}

{% block whitepaper %}
<div class="layout-two-columns fn-clear">
  <div class="small-column fn-left">
    {%- if orgs %}
    <h3>{{_('Organizations')}}</h3>
    <ul class="sidenav">
      {%- for permission, org in orgs %}
      <li><a href="{{url_for('organization.detail', name=org.name)}}">{{org}}</a></li>
      {%- endfor %}
    </ul>
    {%- endif %}
  </div>
  <div class="large-column fn-left">
    <form class="single" method="post" action="">
      {{ form.csrf_token }}
      {{ render_field(form.name, 'long') }}
      {{ render_field(form.screen_name, 'long') }}
      {{ render_field(form.email, 'long') }}
      {{ render_field(form.description, 'long') }}

      <dl class="form{% if form.comment_service_id.errors %} error{% endif %}">
        <dt>{{form.comment_service_name.label}}</dt>
        <dd>{{form.comment_service_name()}} {{form.comment_service_id(class_='text')}}</dd>
        {{ render_errors(form.comment_service_id.errors) }}
        {{ render_errors(form.comment_service_name.errors) }}
      </dl>
      {{ render_errors(form.csrf_token.errors) }}

      <div class="form-submit">
        <button class="classy">{{_('Create Organization')}}</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
