{% extends "layout.html" %}
{% from "macro/form.html" import render_field, render_errors %}

{% block subtitle %}{{org}}{% endblock %}

{% block whitepaper %}

{%- if form %}
<div class="section">
  <form method="post" action="">
    {{ form.csrf_token }}
    <h3>{{org.name}}</h3>
    {{ render_field(form.screen_name, 'long') }}
    {{ render_field(form.email, 'long') }}
    {{ render_field(form.description, 'long') }}

    <dl class="form{% if form.comment_service_id.errors %} error{% endif %}">
      <dt>{{form.comment_service_name.label}}</dt>
      <dd>{{form.comment_service_name()}} {{form.comment_service_id(class_='text')}}</dd>
      {{ render_errors(form.comment_service_id.errors) }}
      {{ render_errors(form.comment_service_name.errors) }}
    </dl>

    <div class="form-submit">
      <button class="classy">{{_('Update Information')}}</button>
    </div>
  </form>
</div>
<div class="section">
  <h3 class="title">{{_('Add Member')}}</h3>
  <form class="form" method="post" action="">
    <input type="text" class="text" placeholder="{{_('Username or email')}}" name="username" />
    <button class="classy">{{_('Add')}}</button>
  </form>
</div>
{%- endif %}
{% endblock %}
