{% extends "layout.html" %}
{% from "macro/form.html" import render_field, render_errors %}

{% block title %}{% endblock %}

{% block whitepaper %}
<div class="layout-container fn-clear">
  <div class="layout-small fn-left">
    {%- if teams %}
    <h3 class="title">{{_('Teams')}}</h3>
    <ul class="sidenav">
      {%- for team in teams %}
      <li><a href="{{url_for('organization.team', name=org.name, ident=team.id)}}">{{team.name}}</a></li>
      {%- endfor %}
    </ul>
    {%- endif %}
    <br />
    <div>
      <a class="button-classy" href="{{url_for('organization.team_index', name=org.name)}}">{{_('Create a Team')}}</a>
    </div>
  </div>
  <div class="layout-large fn-left">
    <form method="post" action="">
      {{ render_field(form.name, 'long') }}
      {{ render_field(form.permission, 'long') }}

      {{ form.csrf_token }}
      {{ render_errors(form.csrf_token.errors) }}

      <div class="form-submit">
        <button class="classy">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
