{% extends "email/hero.html" %}

{% block content %}
<h3>Welcome, {{user.name}}</h3>

<p class="lead">
You have submitted a find password request, follow the link below to find your password. If you didn't make the request, ignore this email.
</p>
<p><a class="btn" href="{{link}}">{{_('Find Password')}}</a></p>

<p class="callout">
This site is designed for spm 2.0 as the source repository. You should know spm and install it.
 <a href="http://docs.spmjs.org/">Do it Now! &raquo;</a>
</p><!-- /Callout Panel -->

<p>This link will expire in 24 hours.</p>
{% endblock %}
