@import "css/fn.css";

@import "css/flashes.css";

@import "css/forms.css";

@import "css/buttons.css";

@import "css/typography.css";

@import "css/pygments.css";
@font-face {
  font-family: Opensans;
  src: url('http://www.mapbox.com/fonts/opensans-regular.eot') format('eot');
  src: url('http://www.mapbox.com/fonts/opensans-regular.eot?#iefix') format('embedded-opentype'), url('http://www.mapbox.com/fonts/opensans-regular.woff') format('woff');
}
@font-face {
  font-family: Opensans;
  font-weight: bold;
  src: url('http://www.mapbox.com/fonts/opensans-bold.eot') format('eot');
  src: url('http://www.mapbox.com/fonts/opensans-bold.eot?#iefix') format('embedded-opentype'), url('http://www.mapbox.com/fonts/opensans-bold.woff') format('woff');
}
@font-face {
  font-family: 'Opensans Condensed';
  src: url('http://www.mapbox.com/fonts/opensans-condbold.eot') format('eot');
  src: url('http://www.mapbox.com/fonts/opensans-condbold.eot?#iefix') format('embedded-opentype'), url('http://www.mapbox.com/fonts/opensans-condbold.woff') format('woff');
}
@font-face {
  font-family: 'Opensans Condensed';
  font-weight: bold;
  src: url('http://www.mapbox.com/fonts/opensans-condbold.eot') format('eot');
  src: url('http://www.mapbox.com/fonts/opensans-condbold.eot?#iefix') format('embedded-opentype'), url('http://www.mapbox.com/fonts/opensans-condbold.woff') format('woff');
}
html,
body {
  margin: 0;
  padding: 0;
  color: #3e4349;
  font: 400 14px/1.6 "Ubuntu", 'Helvetica Neue', 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'arial', sans-serif;
}
a {
  color: #4183c4;
  text-decoration: none;
}
a:hover {
  color: #26c1c6;
}
.container {
  width: 980px;
  margin: 0 auto;
}
header {
  height: 80px;
  background: #F6F6F6;
}
header #logo,
header .navigation,
header .search-form {
  height: 80px;
  line-height: 80px;
}
header #logo {
  float: left;
  margin: 0;
  margin-right: 60px;
  font-family: 'Opensans Condensed', Arial, sans-serif;
  text-transform: uppercase;
}
header #logo a,
header #logo a:hover {
  color: #777;
  text-decoration: none;
}
header .search-form {
  float: left;
}
header .search-form input.text {
  padding-left: 0;
  -webkit-appearance: textfield;
}
header .navigation {
  float: right;
  font-size: 18px;
  color: #999;
  margin-right: -5px;
}
header .navigation a {
  color: #333;
  text-decoration: none;
  word-wrap: break-word;
  margin: 0 5px;
}
header .navigation a:hover {
  color: #4183c4;
}
header #color-bar {
  height: 4px;
  background: #26c1c6 url(./img/bg.png) no-repeat center center;
  background-size: cover;
}
#hero {
  position: relative;
  height: 400px;
  background: #26c1c6 url(./img/bg.png) no-repeat center center;
  background-size: cover;
}
#hero #intro {
  position: relative;
  font-size: 20px;
  color: #DAEEE1;
  padding: 80px 0;
  height: 200px;
}
#hero #intro .lead {
  margin: 10px 300px 10px 0;
}
#hero #intro h1 {
  margin: 0 300px 30px 0;
  color: white;
  font-size: 62px;
  letter-spacing: -1px;
}
#hero #intro #button {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  height: 60px;
  line-height: 60px;
  margin-top: -30px;
}
.attractive {
  padding: 0 40px;
  font-size: 18px;
  font-weight: normal;
  border-radius: 6px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3072b3;
  background-image: -moz-linear-gradient(#599bcd, #3072b3);
  background-image: -webkit-linear-gradient(#599bcd, #3072b3);
  background-image: linear-gradient(#599bcd, #3072b3);
  background-repeat: repeat-x;
  border-color: #2a65a0;
  vertical-align: middle;
  text-decoration: none;
}
.attractive:active {
  background-color: #3072b3;
  background-image: none;
  border-color: #25588c;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
}
.mainbody {
  padding: 30px 10px;
}
.mainbody input {
  max-width: 90%;
}
.comments {
  margin-top: 30px;
  padding-top: 30px;
}
.footer {
  margin: 50px 0 0;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}
.footer .software {
  margin: 0;
  text-align: center;
  color: #696969;
}
.footer .software a {
  color: #565656;
}
.tags a {
  display: inline-block;
  color: white;
  padding: 1px 6px;
  background-color: #d64;
  border-radius: 3px;
  margin: 10px 6px 10px 0;
}
.tags a:hover {
  text-decoration: none;
  color: white;
  opacity: 0.6;
}
.profile .avatar {
  float: left;
  margin-right: 14px;
}
table.meta {
  width: 100%;
}
table.meta a {
  word-wrap: break-word;
  word-break: break-all;
}
table.meta td {
  position: relative;
}
.meta .doc {
  position: absolute;
  right: 10px;
  color: #1A9B20;
}
.quick-meta {
  margin: 20px 0;
  padding: 10px 0;
  text-align: center;
  color: #666;
  font-size: 14px;
}
.quick-meta li {
  float: left;
  width: 33%;
  list-style: none;
}
.quick-meta li i {
  position: relative;
  top: -2px;
  margin-right: 8px;
}
.quick-meta li strong {
  margin-left: 10px;
  font-size: 18px;
  font-style: italic;
}
.quick-info {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: #333;
  font-size: 14px;
}
.quick-info li {
  float: left;
  width: 30%;
  list-style: none;
  margin: 0;
}
.quick-info li.published {
  margin-right: 5%;
}
.quick-info li.published ul li {
  padding-left: 40px;
}
.quick-info li.depend {
  margin-right: 5%;
}
.quick-info li ul {
  margin: 0;
  padding: 0;
}
.quick-info li ul li {
  float: none;
  width: auto;
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
}
.quick-info li ul li .time,
.quick-info li ul li .count {
  color: #bbb;
}
.quick-info li ul li .count {
  float: right;
}
.quick-info li ul li .avatar {
  float: left;
  margin-left: -40px;
  margin-top: 8px;
  height: 32px;
}
.quick-info li ul li * {
  vertical-align: middle;
}
.quick-info h3 {
  margin: 20px 0;
  padding: 0 0 0 12px;
  border-left: 4px solid #cdcdcd;
  color: #999;
  text-transform: uppercase;
  font-size: 14px;
}
.quick-doc {
  margin: 0 0 40px;
  padding: 0;
}
.quick-doc li {
  float: left;
  list-style: none;
  width: 40%;
  margin: 0 10% 0 0;
}
.quick-doc li.right {
  width: 50%;
  margin-right: 0;
}
.quick-doc li pre {
  margin: 0;
}
.quick-install {
  width: 500px;
  padding-top: 50px;
  margin: 0 auto 40px;
  text-align: center;
}
.quick-install p {
  margin: 10px 0;
}
.quick-install .platforms {
  font-size: 72px;
}
.quick-install .platforms i {
  margin-right: 20px;
}
.quick-install .attractive {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 20px 0;
}
.quick-install .attractive:hover {
  color: white;
}
.yue {
  margin-top: 20px;
}
.yue .cell {
  position: relative;
  padding: 7px;
  border: 1px solid #dadada;
  border-radius: 4px;
  background-color: #f9f9f7;
  margin: 14px 0;
}
.yue .cell h3 {
  margin: 0 0 6px;
}
.yue .cell p {
  margin: 0;
}
.yue .cell p span {
  color: #999;
  margin-right: 10px;
}
.yue .cell .version,
.yue .cell .doc {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 4px;
  color: #d64;
}
.yue .cell .version a,
.yue .cell .doc a,
.yue .cell .version a:hover,
.yue .cell .doc a:hover {
  text-decoration: none;
  color: #d64;
}
.yue .cell .doc {
  right: 48px;
  color: #1A9B20;
}
.yue .cell .doc:hover {
  text-decoration: none;
  color: #1A9B20;
}
.yue .cell .J_expand {
  font-size: 12px;
  cursor: pointer;
}
.yue .cell-1 {
  margin-left: 40px;
}
.yue .cell-2 {
  margin-left: 80px;
}
