{% extends "layout.html" %}

{% block title %}{{config.SITE_TITLE}}{% endblock %}

{% block content %}
<div class="search-form">
  <form class="form long" method="get" action="/search">
    <input class="text" type="search" name="q" />
    <button class="classy search">{{_('Search')}}</button>
  </form>
</div>

<h1>Families</h1>
<hr>
<div class="yue">
  <table class="meta">
    <tbody>
      {% for name in families %}
      <tr>
        <td><a href="/{{name}}/">{{ name }}</a></td>
        <td>10</td>
        <td>2013-10-20</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{%- block footer %}{% endblock %}
