{% extends "layout.html" %}

{% block title %}{{config.SITE_TITLE}}{% endblock %}

{% block content %}
<div class="search-form">
  <form class="form long" method="get" action="/search">
    <input class="text" type="search" name="q" />
    <button class="classy search">{{_('Search')}}</button>
  </form>
</div>
<div class="families yue">
  <h3>Try families</h3>
  {% for name in families %}
  <a href="/{{name}}/">{{ name }}</a>
  {% endfor %}
</div>
{% endblock %}

{%- block footer %}{% endblock %}
