<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% block subtitle %}{% endblock %} - {{config.SITE_TITLE}}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='yue.tmp.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='site.css')}}" />
    {%- block afterstyle %}{% endblock %}
  </head>
  <body>
    <header id="header">
      {%- from "macro/utils.html" import flash_messages, render_navigation %}
      <div class="container fn-clear">
        <h1 class="brand fn-left"><a href="/">{{config.SITE_TITLE}}</a></h1>
        <ul class="navigation fn-right">
          {{ render_navigation(g.user, 'org') }}
        </ul>
      </div>
      {%- with messages = get_flashed_messages(with_categories=true) %}
      {{ flash_messages(messages) }}
      {%- endwith %}
    </header>
    {%- block mainbody %}
    <div class="white-paper">
      <div class="container fn-clear">
        {% block whitepaper %}{% endblock %}
      </div>
    </div>
    {%- endblock %}
    <footer id="footer">
      <div class="container">
        <div>{{config.SITE_FOOTER}}</div>
        <p class="software">powered by <a href="https://github.com/lepture/yuan">yuan</a> {{config.SITE_VERSION}}</p>
      </div>
    </footer>
  </body>
</html>
