{% extends "layout.html" %}

{%- block subtitle %}{{family}}{%- endblock %}

{%- block content %}
<div class="yue">
  {%- if account %}
  <div class="profile fn-clear">
    <a class="avatar" href="/{{family}}/"><img src="{{account.avatar}}" alt="{{account}}" /></a>
    <strong>{{account}}</strong><br />
    <span>{{account.created.strftime('%Y-%m-%d')}}</span>
  </div>
  {%- if account.description %}
  <div class="markdown">{{account.description|markdown}}</div>
  {%- endif %}
  <hr />
  {%- endif %}
  {%- for item in projects %}
  <div class="cell">
    <h3><a href="{{url_for('front.project', family=item.family, name=item.name)}}">{{item.family}}/{{item.name}}</a></h3>
    <p>{{item.description}}</p>
    <span class="version">{{item.version}}</span>
  </div>
  {%- endfor %}
</div>
{%- endblock %}
