{% extends "layout.html" %}

{% block subtitle %}{{_('Search')}}{% endblock %}

{% block content %}
<div class="search-form">
  <form class="form long" method="get" action="/search">
    <input class="text" type="search" name="q" value="{{request.args.get('q', '')}}" />
    <button class="classy search">{{_('Search')}}</button>
  </form>
</div>

<div class="yue">
  {%- if data %}
  {%- for item in data.results %}
  <div class="cell">
    <h3><a href="{{url_for('front.project', family=item.family, name=item.name)}}">{{item.name}}</a></h3>
    <p>{{item.description}}</p>
    <span class="version">{{item.version}}</span>
  </div>
  {%- endfor %}
  {%- else %}
  <p>{{ _('No results')}}.</p>
  {%- endif %}
</div>
{% endblock %}
