{% extends "layout.html" %}
{% from "macro/form.html" import render_field, render_errors %}

{% block subtitle %}{{_('Settings')}}{% endblock %}

{%- block afterstyle %}
<style type="text/css">
  .profile-form {
    padding-top: 40px;
  }
</style>
{%- endblock %}

{% block content %}
<div class="member-form yue">
  <h3 class="title">Membership</h3>
  <div class="description">People who has write permission on your projects.</div>
  <div class="tags">
    {%- for user in g.user.members %}
    <a title="{{_('Remove this user')}}" href="{{url_for('account.member')}}?action=remove&name={{user.name}}">{{user}}</a>
    {%- endfor %}
  </div>
  <form class="form" action="{{url_for('account.member')}}">
    <input type="text" class="text" name="name" placeholder="{{_('Username')}}" />
    <button class="classy">{{_('Add User')}}</button>
  </form>

  <h3 class="title">Ownership</h3>
  <div class="description">You has write permission on these projects.</div>
  <div class="tags">
    {%- for user in g.user.masters %}
    <a title="{{_('Quit this family')}}" href="{{url_for('account.member')}}?action=quit&name={{user.name}}">{{user}}</a>
    {%- endfor %}
  </div>
</div>

<div class="profile-form yue">
  <h3 class="title">{{_('Edit Profile')}}</h3>
  <form method="post" action="">
    {{ form.csrf_token }}
    {{ render_field(form.screen_name, 'long') }}
    {{ render_field(form.description, 'long') }}

    <dl class="form{% if form.comment_service_id.errors %} error{% endif %}">
      <dt>{{form.comment_service_name.label}}</dt>
      <dd>{{form.comment_service_name()}} {{form.comment_service_id(class_='text')}}</dd>
      {{ render_errors(form.comment_service_id.errors) }}
      {{ render_errors(form.comment_service_name.errors) }}
    </dl>

    <div class="form-submit">
      <button class="classy">{{_('Update Profile')}}</button>
    </div>
  </form>
</div>
{% endblock %}
