{% extends "layout.html" %}
{% from "macro/form.html" import render_field %}

{%- block subtitle %}{{_('Signin')}}{% endblock %}

{%- block afterstyle %}
<style type="text/css">
  a.find {
    font: 500 13px "Ubuntu", 'Helvetica Neue', 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'arial', sans-serif;
    color: #3d8edf;
    text-decoration: none;
  }
  a.find:hover {
    text-decoration: underline;
  }
</style>
{%- endblock %}

{%- block content %}
<form method="post" action="">
  {{ form.csrf_token }}
  {{ render_field(form.account, 'long') }}
  {{ render_field(form.password, 'long') }}

  <div class="checkbox-form">
    {{form.permanent()}} {{form.permanent.label()}}
  </div>

  <div class="form-submit">
    <button class="classy">{{_('Sign In')}}</button>
    <a class="find" href="{{url_for('account.find')}}">{{_('Forget your password?')}}</a>
  </div>
</form>
{%- endblock %}
