{% extends "layout.html" %}

{%- block subtitle %}{{package.family}}/{{package.name}}@{{package.version}}{%- endblock %}

{%- block content %}
<div class="yue">
  <h1><a href="/{{package.family}}/">{{package.family}}</a> / {{package.name}}</h1>
  <hr />
  <blockquote><p>{{package.description}}</p></blockquote>
  <pre>spm install {{package.family}}/{{package.name}}@{{package.version}}</pre>
  <p>Version: <strong>{{package.version}}</strong> <span>~ {{package.tag}}</span></p>
  <table class="meta">
    {%- from "macro/ui.html" import render_package %}
    {{ render_package(package) }}
  </table>
</div>
{%- if package.readme %}
<div class="yue">
  {{package.readme|markdown|safe}}
</div>
{%- endif %}
{%- endblock %}
